{% extends 'principal/base.html' %}
{% block title %}Painel{% endblock %}

{% block content %}
{% if messages %}
  {% for message in messages %}
    <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header {% if message.tags == 'error' %}bg-danger text-white{% else %}bg-success text-white{% endif %}">
            <h5 class="modal-title" id="messageModalLabel">
              {% if message.tags == 'error' %}Erro{% else %}Sucesso{% endif %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
          </div>
          <div class="modal-body">
            {{ message }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const modal = new bootstrap.Modal(document.getElementById('messageModal'));
        modal.show();
      });
    </script>
  {% endfor %}
{% endif %}

<div class="container my-4">
  <h2 class="mb-4">Ordem de Serviço</h2>

  <div class="row row-cols-1 row-cols-md-4 g-4 mb-5">
    <div class="col">
      <a href="" class="text-decoration-none">
        <div class="card text-bg-light h-100 shadow-sm text-center hover-shadow">
          <div class="card-body">
            <i class="fas fa-tasks fa-2x mb-3 text-info"></i>
            <h5 class="card-title">{{ qtd_ordem }} Ordens de Serviço</h5>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="" class="text-decoration-none">
        <div class="card text-bg-light h-100 shadow-sm text-center hover-shadow">
          <div class="card-body">
            <i class="fas fa-check-circle fa-2x mb-3 text-success"></i>
            <h5 class="card-title">{{ qtd_finalizadas }} Finalizadas</h5>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="" class="text-decoration-none">
        <div class="card text-bg-light h-100 shadow-sm text-center hover-shadow">
          <div class="card-body">
            <i class="fas fa-hourglass-half fa-2x mb-3 text-warning"></i>
            <h5 class="card-title">{{ qtd_andamento }} Em Andamento</h5>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="" class="text-decoration-none">
        <div class="card text-bg-light h-100 shadow-sm text-center hover-shadow">
          <div class="card-body">
            <i class="fas fa-times-circle fa-2x mb-3 text-danger"></i>
            <h5 class="card-title">{{ qtd_canceladas }} Canceladas</h5>
          </div>
        </div>
      </a>
    </div>

  </div>
  
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4>Ordem de Serviço Recentes</h4>
    <a href="{% url 'ordem_servico:criar_os' %}" class="btn btn-dark-custom btn-sm w-auto">
      <i class="fas fa-plus me-1"></i> Gerar Nova Ordem
    </a>
  </div>

  <div class="table-responsive">
        <div class="mb-3 d-flex justify-content-between align-items-center">
            <form method="get" class="d-flex align-items-center gap-2">
                <input type="text" name="pesquisa" placeholder="Pesquisar" class="form-control w-auto"
                    value="{{ pesquisa|default:'' }}">
                <input type="date" name="data_abertura" class="form-control w-auto" value="{{ data_abertura|default:'' }}">
                <button type="submit" class="btn btn-dark-custom btn-sm w-auto">
                    Pesquisar
                </button>
            </form>   
        </div>

        <div class="table-pagination-container">
            <table class="table table-hover custom-table">
                <thead class="custom-thead">
                    <tr>                      
                        <th scope="col">Código</th>
                        <th scope="col">Título</th>
                        <th scope="col">Status</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Nº da Proposta</th>
                        <th scope="col">Data de abertura</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ordem in ordens %}
                    <tr data-bs-toggle="modal"
                        data-bs-target="#modalOrdem{{ ordem.id }}"
                        style="cursor: pointer;">
                        <td>{{ ordem.id}}</td>
                        <td>{{ ordem.titulo}}</td>
                        <td>{{ ordem.status }}</td>
                        <td>{{ ordem.n_cliente }}</td>
                        <td>{{ ordem.n_proposta }}</td>
                        <td>{{ ordem.data_abertura }}</td>
                    </tr>
                    <!-- Modal -->
                    <div class="modal fade" id="modalOrdem{{ ordem.id }}" tabindex="-1" aria-labelledby="modalLabel{{ ordem.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel{{ ordem.id }}">OS: {{ ordem.titulo }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Escolha uma das ações para {{ ordem.titulo }}.</p>
                                </div>
                                <div class="modal-footer" style="padding-top: 0px;"></div>
                                <div class="modal-body d-flex justify-content-around">
                                    <a href="{% url 'ordem_servico:ver_os' ordem.id %}" class="btn btn-success">
                                        <i class="fas fa-eye"></i> Ver OS
                                    </a>
                                    <a href="{% url 'ordem_servico:editar_os' ordem.id %}" class="btn btn-primary">
                                        <i class="fas fa-edit"></i> Editar
                                    </a>
                                    <a href="{% url 'ordem_servico:excluir_os' ordem.id %}" class="btn btn-danger">
                                        <i class="fas fa-trash-alt"></i> Excluir
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <tr>
                        <td colspan="4">Nenhuma ordem de serviço encontrada encontrado.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
<style>
    .hover-shadow {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    }
    
    .hover-shadow:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    }

    .table-pagination-container {
        min-height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .custom-table {
        border-collapse: separate;
        border-spacing: 0 8px;
        background-color: transparent;
    }

    .custom-table thead {
        background-color: #343a40;
        color: white;
    }

    .custom-table th {
        border: none;
        padding: 12px;
        font-weight: 600;
    }

    .custom-table tbody tr {
        background-color: #ffffff;
        transition: box-shadow 0.2s ease;
        border-radius: 8px;
    }

    .custom-table tbody tr:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    }

    .custom-table td {
        border: none;
        padding: 12px;
        vertical-align: middle;
    }

    .custom-table tbody tr td:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .custom-table tbody tr td:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .custom-thead {
        background-color: #f8f9fa; /* tom claro, tipo cinza claro */
        color: black; /* preto acinzentado, boa leitura */
    }

    .custom-thead th {
        font-weight: 600;
        padding: 12px;
        border-bottom: 2px solid #dee2e6;
    }
</style>
{% endblock %}