{% extends 'principal/base.html' %}
{% block title %}Gerenciar Clientes{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">

<div class="grey-bg container py-5">
  <section id="painel-os">
    <div class="text-center mb-5">
      <h2 class="text-uppercase font-weight-bold">Painel de Ordem de Serviço</h2>
      <p class="text-muted">Visualize, gerencie e acompanhe suas ordens</p>
    </div>

    <!-- Primeira Linha -->
<div class="row justify-content-center">
  <div class="col-md-5 col-lg-3 mb-4">
    <a href="{% url 'home' %}" class="card-link">
      <div class="card custom-card shadow-sm text-center">
        <div class="card-body">
          <i class="fa-solid fa-clipboard-list icon-primary mb-3"></i>
          <h3 class="mb-0">OS</h3>
          <span>Ordens de Serviço</span>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-5 col-lg-3 mb-4">
    <a href="{% url 'produtos:listar_produtos' %}" class="card-link">
      <div class="card custom-card shadow-sm text-center">
        <div class="card-body">
          <i class="fa-solid fa-boxes-stacked icon-primary mb-3"></i>
          <h3 class="mb-0">Estoque</h3>
          <span>Estoque</span>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-5 col-lg-3 mb-4">
    <a href="{% url 'clientes:listar_clientes' %}" class="card-link">
      <div class="card custom-card shadow-sm text-center">
        <div class="card-body">
          <i class="fa-solid fa-handshake icon-primary mb-3"></i>
          <h3 class="mb-0">Clientes</h3>
          <span>Clientes</span>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-5 col-lg-3 mb-4">
    <a href="{% url 'tecnicos:listar_tecnicos' %}" class="card-link">
      <div class="card custom-card shadow-sm text-center">
        <div class="card-body">
          <i class="fa-solid fa-tools icon-primary mb-3"></i>
          <h3 class="mb-0">Técnicos</h3>
          <span>Técnicos</span>
        </div>
      </div>
    </a>
  </div>

  
</div>

<!-- Segunda Linha -->
<div class="row justify-content-center">
  <div class="col-md-5 col-lg-3 mb-4">
    <a href="{% url 'home' %}" class="card-link">
      <div class="card custom-card shadow-sm text-center">
        <div class="card-body">
          <i class="fa-solid fa-hand-holding-dollar icon-primary mb-3"></i>
          <h3 class="mb-0">Financeiro</h3>
          <span>Financeiro</span>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-5 col-lg-3 mb-4">
    <a href="{% url 'atividades:ver_atividades' %}" class="card-link">
      <div class="card custom-card shadow-sm text-center">
        <div class="card-body">
          <i class="fa-solid fa-magnifying-glass-chart icon-primary mb-3"></i>
          <h3 class="mb-0">Auditoria</h3>
          <span>Auditoria</span>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-5 col-lg-3 mb-4">
    <a href="{% url 'servicos:listar_servicos' %}" class="card-link">
      <div class="card custom-card shadow-sm text-center">
        <div class="card-body">
          <i class="fa-solid fa-briefcase icon-primary mb-3"></i>
          <h3 class="mb-0">Serviços</h3>
          <span>Serviços</span>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-5 col-lg-3 mb-4">
    <a href="{% url 'configuracoes' %}" class="card-link">
      <div class="card custom-card shadow-sm text-center">
        <div class="card-body">
          <i class="fa-solid fa-gear icon-primary mb-3"></i>
          <h3 class="mb-0">Configurações</h3>
          <span>Configurações</span>
        </div>
      </div>
    </a>
  </div>
</div>

<!-- Terceira Linha -->
<div class="row justify-content-center">
  <div class="col-md-5 col-lg-3 mb-4">
      <a href="{% url 'usuarios' user.username %}" class="card-link">
        <div class="card custom-card shadow-sm text-center">
          <div class="card-body">
            <i class="fa-solid fa-users icon-primary mb-3"></i>
            <h3 class="mb-0">Usuários</h3>
            <span>Usuarios</span>
          </div>
        </div>
      </a>
  </div>
</div>

  </section>
</div>

<style>
  body {
    font-family: 'Montserrat', sans-serif;
  }
  .grey-bg {
    background-color: white;
  }
  .custom-card {
    border: 1px solid #ddd;
    border-radius: 12px;
    transition: all 0.3s ease;
    padding: 20px 0;
    background-color: rgb(241, 241, 241);
  }
  .custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    
  }
  .custom-card h3 {
    font-weight: 400;
  }
  .custom-card span {
    font-size: 0.95rem;
    color: black;
  }
  .card-link {
    text-decoration: none;
    color: inherit;
  }
  .icon-primary {
    font-size: 2.5rem;
    color: #007bff;
  }
</style>

{% endblock %}
